# 目标芯片：ESP32-S3
CONFIG_IDF_TARGET="esp32s3"

# CPU 主频：240 MHz 满血运行
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# Flash 配置：16MB Flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# PSRAM 配置：8MB Octal (OPI) 高速 PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y

# FreeRTOS 滴答频率：1000 Hz (1ms)
CONFIG_FREERTOS_HZ=1000

# 开启 C++ 异常与现代 C++ 支持
CONFIG_COMPILER_CXX_EXCEPTIONS=y

CONFIG_LOG_COLORS=n
