CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mthumb
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -I/Users/mjt/Desktop/workplace/drone/firmware_chassis/Inc
    - -I/Users/mjt/Desktop/workplace/drone/firmware_chassis/Middlewares/FreeRTOS/Source/include
    - -I/Users/mjt/Desktop/workplace/drone/firmware_chassis/Middlewares/FreeRTOS/Source/portable/GCC/ARM_CM4F
