CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mthumb
    - -mfpu=fpv4-sp-d16
    - -mfloat-abi=hard
    - -DSTM32G473xx
    - -I/Users/mjt/Desktop/workplace/drone/firmware_chassis/Inc
